body {
  --theme-blue: #3e8bf7;
  --theme-deepblue: rgb(5, 115, 255);
  --theme-white: rgb(243, 243, 243);
  --theme-green: rgb(52, 184, 105);
  --theme-gray: rgb(67, 74, 84);
  --theme-yellow: rgb(255, 214, 17);
  --theme-black: rgb(17, 17, 17);
  background-color: rgb(255, 250, 250);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
